.landing_logo img {
    width: 55%;
}
 .bodybg {
    background: #fcfcfc;
    height: 100vh;
}
.hgt {
    height: 190px;
}
@media only screen and (max-width : 480px) {
    .landing_logo img {
        width: 73%;
    }
}
