.top_head_mec {
    font-size: 30px;
    font-weight: bold;
}
.img_box img {
    width: 100%;
    height: 73px;
    border-radius: 50px;
}

.img_box {
    border: solid 1px white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 16px 3px 23px #bfb8b8;
    margin: 30px 0px;
    height: 156px;
}