.columnn.col {
    margin: 0px;
    padding: 0px;
}

#background-video{
/* 
    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    padding: none;
    position: fixed; optional depending on what you want to do in your app */
    
    
    }
    video#background-video1 {
        width: 100%;
    }
    section.reeel_cover {
        background-color: black;
        height: 100vh;
        /* padding: 1px; */
    }
    .row.nomargin {
        margin-top: -7px;
    }